{% extends "dashboard/index.html" %}

    {% block content_dashboard %}
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ten Hang Muc</th>
                        <th>DVT</th>
                        <th>So Luong</th>
                        <th>Thao Tac</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>STT</th>
                        <th>Ten Hang Muc</th>
                        <th>DVT</th>
                        <th>So Luong</th>
                        <th>Thao Tac</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>But</td>
                        <td>Cai</td>
                        <td>61</td>
                        <td>
                            <a href="{% url 'Registration' %}">
                                <i class ="far fa-edit" title="Edit" style="margin-right: 10px"></i>
                            </a>
                            <a href="{% url 'Registration' %}">
                                <i class ="far fa-eye" title="Show" style="margin-right: 10px"></i>
                            </a>
                            <a href="{% url 'Registration' %}">
                                <i class ="far fa-trash-alt" title="Delete" style="margin-right: 10px"></i>
                            </a>
                        </td>
                    </tr>
                 </tbody>
            </table>
        </div>
    </div>
    
    {% endblock %}