{% extends "dashboard/index.html" %}

    {% block content_dashboard %} 
    
    <div class="card-body">
        <!-- <div class="table-responsive"> -->
            <!-- <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> -->
                <form action="{% url 'Registration' %}">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                        <label for="date-from">Date from:</label>
                        <input type="date" class="form-control" id="date-from" name="date_from">
                        </div>
                        <div class="form-group col-md-2">
                        <label for="date-to">Date to:</label>
                        <input type="date" class="form-control" id="date-to" name="date_to">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="formGroupExampleInput">Department</label>
                            <select class="custom-select" name="room" required>
                               {% for room in rooms %}
                                    <option value="{{room.id}}">
                                        {{room.name}}
                                    </option>
                               {% endfor %}
                              </select>
                            <!-- <input type="date" class="form-control" id="date-to" name="date_to"> -->
                        </div>
                        <div class="form-group col-md-2">
                            <label for="formGroupExampleInput">Quarter</label>
                            <select class="custom-select" name="quarter" required>
                                {% for quarter in quarters %}
                                <option value="{{quarter.0}}">{{quarter.1}}</option>
                                {% endfor %}
                               </select>
                        </div>
                        <div class="form-group col-md-3">
                            <button type="submit" class="btn btn-primary" style="margin-top: 2rem;">Search</button>
                        </div>
                    </div>
                </form>
            <!-- </table> -->
    </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Ten Phong Ban</th>
                            <th>Quy</th>
                            <th>Noi Dung</th>
                            <!-- <th>Published date</th> -->
                            <th>Status</th>
                            <th>Created at</th>
                            <th>Thao tac</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Ten Phong Ban</th>
                            <th>Quy</th>
                            <th>Noi Dung</th>
                            <!-- <th>Published date</th> -->
                            <th>Status</th>
                            <th>Created at</th>
                            <th>Thao tac</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for regis in registrations %}
                        <tr>
                            <td>{{ forloop.counter  }}</td>
                            <td>{{ regis.room.name  }}</td>
                            <td>{{ regis.get_quarter_display }}</td>
                            <td>{{ regis.comment }}</td>
                            <!-- <td>{{ regis.published_date|date:"SHORT_DATE_FORMAT" }}</td> -->
                            <td>
                                <span class="label label-info">
                                    {{ regis.get_status_display }}
                                </span>
                            </td>
                            <td>{{ regis.created_at|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>
                                <a href="{% url 'edit_registration' pk=regis.id %}">
                                    <i class ="far fa-edit" title="Edit" style="margin-right: 10px"></i>
                                </a>
                                <a href="{% url 'RegistrationDetail' regist_id=regis.id %}">
                                    <i class ="far fa-eye" title="Show" style="margin-right: 10px"></i>
                                </a>
                                <a href="{% url 'delete_registration' pk=regis.id %}" 
                                onclick="return confirm('Are you sure you want to delete this Registrations?')">
                                <i class="far fa-trash-alt" title="Delete"></i>
                            </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>No book entry</tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
    {% endblock %}
    {% block extent_js %}
        {%load static%}
        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    {% endblock %}