{% extends "dashboard/index.html" %}

    {% block content_dashboard %}
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ten Phong Ban</th>
                        <th>Quy</th>
                        <th>Noi Dung</th>
                        <th>Thao tac</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>STT</th>
                        <th>Ten Phong Ban</th>
                        <th>Quy</th>
                        <th>Noi Dung</th>
                        <th>Thao Tac</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for regis in registrations %}
                    <tr>
                        <td>{{ forloop.counter  }}</td>
                        <td>{{ regis.room.name  }}</td>
                        <td>{{ rigis.quarter  }}</td>
                        <td>{{ '' }}</td>
                        <td>{{ '' }}</td>
                    </tr>
                    {% empty %}
                    <tr>No book entry</tr>
                    {% endfor %}
                 </tbody>
            </table>
        </div>
    </div>
    
    {% endblock %}